td, th {
    padding: 6px;
    border: 1px solid #000;
    &:not(:first-child) {
        padding: 6px 20px;
    }
}

table {
    border-collapse: collapse;
    margin: auto;
}

img {
    height: 60px;
    display: block;
}